/* General elements */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

a {
    color: #364fc7;
}

/* Image classes */
img.profile {
    display: inline-block;
    height: 100%;
    padding: 1em;
    object-fit: cover;
    clip-path: circle(40%);
    padding: 0.2em;
}

img.title-icon {
    height: 2.5em;
    width: 2.5em;
    margin: 0.5em;
    vertical-align: -0.125em;
    filter: invert(95%);
    transform: rotate(0deg);
    transition: 0.350s cubic-bezier(0.42, 1.67, 0.21, 0.90);
}

img.medium {
    height: 30svh;
    object-fit: contain;
    margin: 0.5em;
}

img.large {
    max-width: 30cqw;
    object-fit: contain;
    margin: 0.5em;
}

img.larger {
    max-width: 60cqw;
    object-fit: contain;
    margin: 0.5em;
}

/* IFrame classes */
iframe.larger {
    width: 60cqw;
    height: calc(60cqw * (9 / 16));
}

iframe.large {
    width: 30cqw;
    height: calc(30cqw * (9 / 16));
}

/* Details + summary popup styling */
details summary::-webkit-details-marker {
    display: none;
}

details summary>img.bullet-point {
    height: 1.5em;
    width: 1.5em;
    margin: 0.5em;
    vertical-align: -0.125em;
    filter: invert(14%) sepia(62%) saturate(3742%) hue-rotate(232deg) brightness(74%) contrast(102%);
    transform: rotate(0deg);
    transition: 0.350s cubic-bezier(0.42, 1.67, 0.21, 0.90);
}

details {
    transition: 0.350s cubic-bezier(0.42, 1.67, 0.21, 0.90);
}

details[open] summary img.bullet-point {
    transform: rotate(90deg);
}

details > * {
    margin-left: 1em;
}

details > summary {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* General container for a single column layout with a titlebar and content */
.container {
    padding: 0;
    width: 100svw;
    max-width: 100svw;
    max-height: 100svh;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr [content-col] 8fr 1fr;
    grid-template-rows: [header] 10svh [main-content] auto;
    background: #f1f3f9;
}

/* Used to manage groups of images */
.img-container {
    margin: 0;
    width: 100%;
    min-width: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

/* Titlebar */
header.title {
    grid-row: header;
    grid-column: content-col;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 20px;
}

header.title>.title-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
}

header.title>.title-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.title>h1 {
    padding: 0.2em;
}

/* Main content */
.content {
    min-width: 0;
    max-width: 100%;
    grid-column: content-col;
    grid-row: main-content;
    margin-left: 1em;
    margin-right: 1em;
}

.content-card {
    max-width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em;
    background: #cdd8f8;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.content-card > h3 {
    font-size: 2em;
}

@media all and (max-height: 500px) {
    .container {
        grid-template-rows: [header] 20svh [main-content] auto;
        grid-template-columns: 0 [content-col] 1fr 0;
        margin: 0;
    }

    header.title {
        border-radius: 0;
        margin: 0;
    }

    h1 {
        font-size: 1.25em;
    }
}

@media all and (max-width: 700px) {
    .container {
        grid-template-columns: 0 [content-col] 1fr 0;
        margin: 0;
    }

    img.medium {
        width: 80lvw;
        height: auto;
        object-fit: contain;
        margin: 0.5em;
    }

    header.title {
        border-radius: 0;
        margin: 0;
    }

    h1 {
        font-size: 1.25em;
    }

    header.title>.title-left {
        height: 75%;
    }

    img.large {
        width: 100cqw;
        object-fit: contain;
        margin: 0.2em;
    }

    img.title-icon {
        height: 2em;
        width: 2em;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    .container {
        background-color: #121212;
    }

    a {
        color: #74c0fc;
    }

    details summary>img.bullet-point {
        filter: invert(26%) sepia(94%) saturate(1944%) hue-rotate(197deg) brightness(98%) contrast(96%);
    }

    .content {
        color: #ced4da;
    }

    .content-card {
        background-color: rgb(206, 216, 248, 8%);
    }
}