
body {
	background-color:#e0e0e0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

a {
  color: rgb(51, 59, 66);
}

/* Header bar */
header {
	text-align: center;
	background-color: #002B36;
	font-family: 'DM Serif Text', serif; 
	color: white;
	font-size: 48px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	max-width: 100%;
	box-shadow: 5px 5px 5px grey;
}

#title_text {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 10px;
}

.navbar {
	text-align: center;
    background-color: #00171d;	
	color: white;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	max-width: 100%;
	left:0px;
	right:0px;
	box-shadow: 5px 5px 5px grey;
}

.navlink {
	font-size: 24px;
  color: white;
	font-family: 'Open Sans', sans-serif; 
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none; 
}

/* Text Boxes */
.section_row {
    display:flex;
    justify-content: left;
    flex-direction: row;
}

.section_column_text, .section_column_image {
	flex:50%;
}

section {
	text-align: left;
	background-color: white;	
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 1.5;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom:20px;
	margin-left: 20px;
	margin-right:20px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right:20px;
	box-shadow: 5px 5px 5px grey;
}

.subheader {
	background-color: white;	
	font-size:28px;
	text-align:center;
	max-width:40%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:30px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right:20px;
    font-family: 'Open Sans', sans-serif;
	box-shadow: 5px 5px 5px grey;
}

/* Image Formatting */
.img_frame {
	border: 20px solid white;
	border-radius: 5px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	box-shadow: 5px 5px 5px grey;
}

.img_smaller {
    max-width: 50%;
}

.img_larger {
    max-width: 75%;
}

#bh_image {
	max-width: 60%;
	margin-top: 20px;
}

.section_column_image {
	margin-top:10px;
  padding-top: 10px;
	padding-bottom:10px;
}
